
<div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Inventario Busos Blinders</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div class="container-fluid">
<!-- Editable table -->
<div class="card">
 
  <div class="card-body">
    <div id="table" class="table-editable">
      <span class="table-add float-right mb-3 mr-2">
        <a class="text-success" (click)="add()"> 
        </a>
      </span>
      <table class="table table-dark table-striped">
          <thead>
        <tr>
          <th class="text-center" hidden="true">Id</th>
          <th class="text-center">Referencia</th>
          <th class="text-center">Color</th>
          <th class="text-center">Talla</th>
          <th class="text-center">cantidad</th> 
        </tr>
        <tr>
            <th> <div class="md-form">
                <input #terminoRef type="text" class="form-control"  id="search-input"(keyup)="FindByReferencia(terminoRef.value)" >
                <label for="search-input">busca por Refererencia</label>
              </div></th>
              <th> <div class="md-form">
                <input #terminoColor type="text" class="form-control" id="search-input" value="" (keyup)="FindByColor(terminoColor.value)" >
                <label for="search-input">busca por color</label>
              </div></th>
              <th> <div class="md-form">
                <input #terminoTalla type="text" class="form-control" id="search-input" (keyup)="FindByTalla(terminoTalla.value)">
                <label for="search-input">busca por talla</label>
              </div></th>
              <th> <div class="md-form" hidden="true">
                <input #terminoTalla type="text" class="form-control" id="search-input" (keyup)="FindByTalla(terminoTalla.value)">
                <label for="search-input">busca por talla</label>
              </div></th>
        </tr>
         </thead>
         <tbody>
        <tr *ngFor="let inv of inventario; let id = index">
            <td hidden="true" class="text-center">
                <span id="{{inv.codigo}}">{{inv.codigo}}</span>
              </td>
          <td class="text-center">
            <span id="{{inv.ref_codigo}}">{{inv.ref_descripcion}}</span>
          </td>
          <td class="text-center">
            <span id="{{inv.color_codigo}}">{{inv.color_Descripcion}}</span>
          </td>
          <td class="text-center">
            <span id="{{inv.talla_codigo}}">{{inv.talla_descripcion}}</span>
          </td>
          <td class="text-center">
            <span contenteditable="true" (keyup)="changeValue(id, 'cantidad', $event)" (blur)="updateList(id, 'cantidad', $event)">{{inv.cantidad}}</span>
          </td>
         <!--  <td>
            <span class="table-remove">
              <button hidden="true" type="button" class="btn btn-danger" (click)="remove(id)">Remove</button>
            </span> 
          </td>-->
        </tr>
    </tbody>
      </table>
    </div>
  </div>
</div>


</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> 
</div>
</div>
</div> 